<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mercatis.lighthouse3.ui.editors.processtaskeditor.pagefactories">
      <pagefactory
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.SwimlaneEditorPageFactory"
            ordernumber="0">
      </pagefactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.views.properties.PropertySheet"
            id="com.mercatis.lighthouse3.views.processinstanceproperties"
            name="Properties"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="Lighthouse"
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.views.ProcessInstanceTreeTableView"
            id="lighthouse3.view.processinstancetreetableview"
            name="Process Instance Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mercatis.lighthouse3.domainmodel.processinstance.ProcessInstance"
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.model.adapters.ProcessInstanceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.parts.ProcessTaskEditPart"
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.model.adapters.ProcessInstanceDefinitionAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.parts.ProcessTaskModelEditPart"
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.model.adapters.ProcessTaskModelEditPartAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.parts.ProcessInstanceDefinitionEditPart"
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.model.adapters.ProcessInstanceDefinitionAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.base.ui.provider.labelconverter">
      <Converter
            Converter="com.mercatis.lighthouse3.ui.swimlaneeditor.providers.ProcessInstanceConverter"
            Object="com.mercatis.lighthouse3.domainmodel.processinstance.ProcessInstance">
      </Converter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.environment.editors.pages.ProcessTaskSwimlaneEditor.contextMenu">
         <command
               commandId="lighthouse.env.cmd.delete.processtask"
               label="Delete"
               style="push">
         </command>
         <separator
               name="swimlane-editor.separator1">
         </separator>
         <menu
               label="New">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Process Task"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="com.mercatis.lighthouse3.ui.environment.wizards.NewProcessTaskWizard">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.parts.ProcessTaskModelEditPart">
                        </instanceof>
                        <instanceof
                              value="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.parts.ProcessTaskEditPart">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="lighthouse.env.cmd.delete.processtask"
            name="Delete ProcessTask">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.handlers.DeleteProcessTaskModelHandler"
            commandId="lighthouse.env.cmd.delete.processtask">
         <activeWhen>
            <iterate>
               <instanceof
                     value="com.mercatis.lighthouse3.ui.swimlaneeditor.gef.parts.ProcessTaskModelEditPart">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
   </extension>

</plugin>
