<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.mercatis.lighthouse3.security.ui.SecurityPropertyPage"
            id="com.mercatis.lighthouse3.security-ui.SecurityPropertyPage"
            name="Security">
      </page>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.ui.wizards.pages">
      <creationwizard
            id="com.mercatis.lighthouse3.ui.environment.wizards.NewLighthouseProjectWizard">
         <page
               class="com.mercatis.lighthouse3.security.ui.wizards.pages.WizardNewLighthouseDomainSecurityPage"
               description="Specify the settings for the authorisation server."
               ordernumber="1"
               title="Security">
         </page>
      </creationwizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.views.LighthouseView?after=group.edit">
         <menu
               label="Permissions">
            <command
                  commandId="com.mercatis.lighthouse3.security-ui.editaccessorbasedpermissions"
                  icon="icons/bullet_key.png"
                  label="Edit Accessor Based Permissions"
                  style="push">
            </command>
            <command
                  commandId="com.mercatis.lighthouse3.security-ui.editcontextbasedpermissions"
                  icon="icons/bullet_key.png"
                  label="Edit Context Based Permissions"
                  style="push">
            </command>
            <visibleWhen>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="domain-ui.propertytester.domainOpen">
                  </test>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.accessoreditorpage.groups">
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.permissioneditor.context.contextmenu">
         <command
               commandId="com.mercatis.lighthouse3.security-ui.addcontext"
               label="Add Context"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.removecontext"
               label="Remove Context"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.permissioneditor.user.permission.contextmenu">
         <command
               commandId="com.mercatis.lighthouse3.security-ui.adduser"
               label="Add User"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.removeuser"
               label="Remove User"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="New User"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.newuserwizard">
            </parameter>
         </command>
         <separator
               name="security-ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.edituser"
               icon="icons/edit.png"
               label="Edit User"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.deleteuser"
               icon="icons/delete.gif"
               label="Delete User"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.permissioneditor.user.plainedit.contextmenu">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="New User"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.newuserwizard">
            </parameter>
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.edituser"
               icon="icons/edit.png"
               label="Edit User"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.deleteuser"
               icon="icons/delete.gif"
               label="Delete User"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.permissioneditor.group.permission.contextmenu">
         <command
               commandId="com.mercatis.lighthouse3.security-ui.addgroup"
               label="Add Group"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.removegroup"
               label="Remove Group"
               style="push">
         </command>
         <separator
               name="security-ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="New Group"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.newgroupwizard">
            </parameter>
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.editgroup"
               icon="icons/edit.png"
               label="Edit Group"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.deletegroup"
               icon="icons/delete.gif"
               label="Delete Group"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.permissioneditor.group.plainedit.contextmenu">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="New Group"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.newgroupwizard">
            </parameter>
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.editgroup"
               icon="icons/edit.png"
               label="Edit Group"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.deletegroup"
               icon="icons/delete.gif"
               label="Delete Group"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.security.ui.permissioneditor.permission.contextmenu">
         <command
               commandId="com.mercatis.lighthouse3.security-ui.selectall"
               label="Select All"
               style="push">
         </command>
         <command
               commandId="com.mercatis.lighthouse3.security-ui.selectnone"
               label="Select None"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.mercatis.lighthouse3.security-ui.editaccessorbasedpermissions"
            name="Edit Accessor Based Permissions">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.editcontextbasedpermissions"
            name="Edit Context Based Permissions">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.edituser"
            name="Edit User">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.removecontext"
            name="Remove Context">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.addcontext"
            name="Add Context">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.editgroup"
            name="Edit Group">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.adduser"
            name="Add User">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.addgroup"
            name="Add Group">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.removeuser"
            name="Remove User">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.removegroup"
            name="Remove Group">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.deleteuser"
            name="Delete User">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.deletegroup"
            name="Delete Group">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.selectall"
            name="Select All">
      </command>
      <command
            id="com.mercatis.lighthouse3.security-ui.selectnone"
            name="Select None">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.EditAccessorBasedPermissionHandler"
            commandId="com.mercatis.lighthouse3.security-ui.editaccessorbasedpermissions">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
                  <instanceof
                        value="com.mercatis.lighthouse3.ui.environment.base.model.LighthouseDomain">
                  </instanceof>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="domain-ui.propertytester.domainOpen">
                     </test>
                  </with>
                  <test
                        args="modifyPermissions"
                        property="lh3.security.role">
                  </test>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.EditContextBasedPermissionHandler"
            commandId="com.mercatis.lighthouse3.security-ui.editcontextbasedpermissions">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
                  <instanceof
                        value="com.mercatis.lighthouse3.ui.environment.base.model.LighthouseDomain">
                  </instanceof>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="domain-ui.propertytester.domainOpen">
                     </test>
                  </with>
                  <test
                        args="modifyPermissions"
                        property="lh3.security.role">
                  </test>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.EditUserHandler"
            commandId="com.mercatis.lighthouse3.security-ui.edituser">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="com.mercatis.lighthouse3.security.ui.model.UserAccessor">
                  </instanceof>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.users.User">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.RemoveContextHandler"
            commandId="com.mercatis.lighthouse3.security-ui.removecontext">
         <activeWhen>
            <iterate>
               <instanceof
                     value="java.lang.String">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.AddContextHandler"
            commandId="com.mercatis.lighthouse3.security-ui.addcontext">
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.EditGroupHandler"
            commandId="com.mercatis.lighthouse3.security-ui.editgroup">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.users.Group">
                  </instanceof>
                  <instanceof
                        value="com.mercatis.lighthouse3.security.ui.model.GroupAccessor">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.AddAccessorHandler"
            commandId="com.mercatis.lighthouse3.security-ui.adduser">
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.RemoveAccessorHandler"
            commandId="com.mercatis.lighthouse3.security-ui.removeuser">
         <activeWhen>
            <iterate>
               <instanceof
                     value="com.mercatis.lighthouse3.security.ui.model.AbstractAccessor">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.AddAccessorHandler"
            commandId="com.mercatis.lighthouse3.security-ui.addgroup">
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.RemoveAccessorHandler"
            commandId="com.mercatis.lighthouse3.security-ui.removegroup">
         <activeWhen>
            <iterate>
               <instanceof
                     value="com.mercatis.lighthouse3.security.ui.model.AbstractAccessor">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.DeleteGroupHandler"
            commandId="com.mercatis.lighthouse3.security-ui.deletegroup">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.users.Group">
                  </instanceof>
                  <instanceof
                        value="com.mercatis.lighthouse3.security.ui.model.GroupAccessor">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.DeleteUserHandler"
            commandId="com.mercatis.lighthouse3.security-ui.deleteuser">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.users.User">
                  </instanceof>
                  <instanceof
                        value="com.mercatis.lighthouse3.security.ui.model.UserAccessor">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.SelectAllPermissionsHandler"
            commandId="com.mercatis.lighthouse3.security-ui.selectall">
      </handler>
      <handler
            class="com.mercatis.lighthouse3.security.ui.handlers.SelectNonePermissionsHandler"
            commandId="com.mercatis.lighthouse3.security-ui.selectnone">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mercatis.lighthouse3.security.ui.editors.AccessorBasedPermissionEditor"
            default="false"
            icon="icons/bullet_key.png"
            id="com.mercatis.lighthouse3.security.ui.editors.AccessorBasedPermissionEditor"
            name="Accessor Based Permission Editor">
      </editor>
      <editor
            class="com.mercatis.lighthouse3.security.ui.editors.ContextBasedPermissionEditor"
            default="false"
            icon="icons/bullet_key.png"
            id="com.mercatis.lighthouse3.security.ui.editors.ContextBasedPermissionEditor"
            name="Context Based Permission Editor">
      </editor>
      <editor
            class="com.mercatis.lighthouse3.security.ui.editors.UserEditor"
            default="false"
            icon="icons/user_edit.png"
            id="com.mercatis.lighthouse3.security.ui.editors.UserEditor"
            name="User Editor">
      </editor>
      <editor
            class="com.mercatis.lighthouse3.security.ui.editors.GroupEditor"
            default="false"
            icon="icons/group.png"
            id="com.mercatis.lighthouse3.security.ui.editors.GroupEditor"
            name="Group Editor">
      </editor>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.base.ui.provider.labelconverter">
      <Converter
            Converter="com.mercatis.lighthouse3.security.ui.providers.UserConverter"
            Object="com.mercatis.lighthouse3.domainmodel.users.User">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.security.ui.providers.GroupConverter"
            Object="com.mercatis.lighthouse3.domainmodel.users.Group">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.security.ui.providers.UserAccessorConverter"
            Object="com.mercatis.lighthouse3.security.ui.model.UserAccessor">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.security.ui.providers.GroupAccessorConverter"
            Object="com.mercatis.lighthouse3.security.ui.model.GroupAccessor">
      </Converter>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.mercatis.lighthouse3.security.ui.wizards.NewUserWizard"
            id="com.mercatis.lighthouse3.ui.operations.ui.newuserwizard"
            name="New User">
      </wizard>
      <wizard
            class="com.mercatis.lighthouse3.security.ui.wizards.NewGroupWizard"
            id="com.mercatis.lighthouse3.ui.operations.ui.newgroupwizard"
            name="New Group">
      </wizard>
   </extension>

</plugin>
