<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.mercatis.lighthouse3.ui"
            class="com.mercatis.lighthouse3.ui.operations.ui.views.OperationsOverView"
            icon="icons/operation.png"
            id="com.mercatis.lighthouse3.ui.operations.ui.operationsoverview"
            name="Operationsoverview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mercatis.lighthouse3.ui.operations.ui.OperationsPerspective"
            id="com.mercatis.lighthouse3.ui.operations.ui.operationsperspective"
            name="Operations">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.views.LighthouseView?after=group.edit">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Install Operation"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.installoperationwizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="installOperation"
                        property="lh3.security.role">
                  </test>
                  <iterate>
                     <or>
                        <instanceof
                              value="com.mercatis.lighthouse3.domainmodel.environment.Deployment">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.operations.ui.operationsoverview.contextmenu">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Install on Deployment"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.installoperationwizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="installOperation"
                        property="lh3.security.role">
                  </test>
                  <iterate>
                     <or>
                        <instanceof
                              value="com.mercatis.lighthouse3.domainmodel.environment.Deployment">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.operations.ui.operationseditorpage.installations.contextmenu">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/operation_execute.png"
               label="Execute"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.operationcallwizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="executeOperation"
                        property="lh3.security.role">
                  </test>
                  <iterate>
                     <and>
                        <or>
                           <instanceof
                                 value="com.mercatis.lighthouse3.domainmodel.operations.OperationInstallation">
                           </instanceof>
                           <instanceof
                                 value="com.mercatis.lighthouse3.ui.operations.base.model.OperationInstallationWrapper">
                           </instanceof>
                        </or>
                        <with
                              variable="selection">
                           <test
                                 property="operations-ui.propertytester.operationAvailable">
                           </test>
                        </with>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/job_install.png"
               label="Install Job"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.installjobwizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="installJob"
                        property="lh3.security.role">
                  </test>
                  <iterate>
                     <and>
                        <or>
                           <instanceof
                                 value="com.mercatis.lighthouse3.domainmodel.operations.OperationInstallation">
                           </instanceof>
                           <instanceof
                                 value="com.mercatis.lighthouse3.ui.operations.base.model.OperationInstallationWrapper">
                           </instanceof>
                        </or>
                        <with
                              variable="selection">
                           <test
                                 property="operations-ui.propertytester.operationAvailable">
                           </test>
                        </with>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.mercatis.lighthouse3.ui.commands.operations.remove"
               icon="icons/remove.png"
               label="Remove Operation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="uninstallOperation"
                     property="lh3.security.role">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Install Operation"
               style="push">
            <parameter
                  name="newWizardId"
                  value="com.mercatis.lighthouse3.ui.operations.ui.installoperationwizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="installOperation"
                     property="lh3.security.role">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.operations.ui.operationseditorpage.jobs.contextmenu">
         <command
               commandId="com.mercatis.lighthouse3.ui.commands.operations.job.execute"
               icon="icons/job_execute.png"
               label="Manual Execute"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="executeJob"
                     property="lh3.security.role">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.mercatis.lighthouse3.ui.commands.operations.job.edit"
               icon="icons/edit.png"
               label="Edit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="modifyJob"
                     property="lh3.security.role">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.mercatis.lighthouse3.ui.commands.operations.job.delete"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="uninstallJob"
                     property="lh3.security.role">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.views.LighthouseView?after=group.edit">
         <dynamic
               class="com.mercatis.lighthouse3.ui.operations.ui.menu.DynamicMenu"
               id="com.mercatis.lighthouse3.ui.operations.ui.menu.DynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.mercatis.lighthouse3.domainmodel.environment.Deployment">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.mercatis.lighthouse3.ui.views.LighthouseView?after=group.search">
         <command
               commandId="com.mercatis.lighthouse3.ui.commands.operations.overview"
               label="Operation Overview"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.mercatis.lighthouse3.ui.environment.base.model.LighthouseDomain">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mercatis.lighthouse3.ui.operations.ui.handlers.ViewOperationOverviewHandler"
            commandId="com.mercatis.lighthouse3.ui.commands.operations.overview">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="domain-ui.propertytester.domainOpen">
                     </test>
                  </with>
                  <instanceof
                        value="com.mercatis.lighthouse3.ui.environment.base.model.LighthouseDomain">
                  </instanceof>
               </and>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.ui.operations.ui.handlers.RemoveOperationHandler"
            commandId="com.mercatis.lighthouse3.ui.commands.operations.remove">
         <activeWhen>
            <and>
               <test
                     args="uninstallOperation"
                     property="lh3.security.role">
               </test>
               <iterate>
                  <or>
                     <instanceof
                           value="com.mercatis.lighthouse3.domainmodel.operations.OperationInstallation">
                     </instanceof>
                     <instanceof
                           value="com.mercatis.lighthouse3.ui.operations.base.model.OperationInstallationWrapper">
                     </instanceof>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.ui.operations.ui.handlers.DeleteJobHandler"
            commandId="com.mercatis.lighthouse3.ui.commands.operations.job.delete">
         <activeWhen>
            <and>
               <test
                     args="uninstallJob"
                     property="lh3.security.role">
               </test>
               <iterate>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.operations.Job">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.ui.operations.ui.handlers.ExecuteJobHandler"
            commandId="com.mercatis.lighthouse3.ui.commands.operations.job.execute">
         <activeWhen>
            <and>
               <test
                     args="executeJob"
                     property="lh3.security.role">
               </test>
               <iterate>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.operations.Job">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.mercatis.lighthouse3.ui.operations.ui.handlers.EditJobHandler"
            commandId="com.mercatis.lighthouse3.ui.commands.operations.job.edit">
         <activeWhen>
            <and>
               <test
                     args="modifyJob"
                     property="lh3.security.role">
               </test>
               <iterate>
                  <instanceof
                        value="com.mercatis.lighthouse3.domainmodel.operations.Job">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.mercatis.lighthouse3.ui.commands.operations.overview"
            name="Operation Overview">
      </command>
      <command
            id="com.mercatis.lighthouse3.ui.commands.operations.remove"
            name="Remove Operation">
      </command>
      <command
            id="com.mercatis.lighthouse3.ui.commands.operations.job.delete"
            name="Delete Job">
      </command>
      <command
            id="com.mercatis.lighthouse3.ui.commands.operations.job.execute"
            name="Manual Execute">
      </command>
      <command
            id="com.mercatis.lighthouse3.ui.commands.operations.job.edit"
            name="Edit Job">
      </command>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.base.ui.provider.labelconverter">
      <Converter
            Converter="com.mercatis.lighthouse3.ui.operations.ui.providers.OperationConverter"
            Object="com.mercatis.lighthouse3.domainmodel.operations.Operation">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.ui.operations.ui.providers.OperationInstallationConverter"
            Object="com.mercatis.lighthouse3.domainmodel.operations.OperationInstallation">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.ui.operations.ui.providers.CategoryConverter"
            Object="com.mercatis.lighthouse3.ui.operations.base.model.Category">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.ui.operations.ui.providers.ParameterConverter"
            Object="com.mercatis.lighthouse3.domainmodel.operations.Parameter">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.ui.operations.ui.providers.JobConverter"
            Object="com.mercatis.lighthouse3.domainmodel.operations.Job">
      </Converter>
      <Converter
            Converter="com.mercatis.lighthouse3.ui.operations.ui.providers.OperationInstallationLoaderConverter"
            Object="com.mercatis.lighthouse3.ui.operations.base.model.OperationInstallationWrapper">
      </Converter>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            class="com.mercatis.lighthouse3.ui.operations.ui.wizards.InstallOperationWizard"
            hasPages="true"
            id="com.mercatis.lighthouse3.ui.operations.ui.installoperationwizard"
            name="Install Operation..."
            project="true">
      </wizard>
      <wizard
            class="com.mercatis.lighthouse3.ui.operations.ui.wizards.OperationCallWizard"
            hasPages="true"
            id="com.mercatis.lighthouse3.ui.operations.ui.operationcallwizard"
            name="Call Operation"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="com.mercatis.lighthouse3.ui.operations.ui.wizards.InstallJobWizard"
            hasPages="true"
            id="com.mercatis.lighthouse3.ui.operations.ui.installjobwizard"
            name="Install Job">
      </wizard>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.ui.editors.deploymenteditor.pagefactories">
      <pagefactory
            class="com.mercatis.lighthouse3.ui.operations.ui.editors.pages.InstalledOperationsEditorPageFactory"
            ordernumber="5">
      </pagefactory>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.ui.wizards.pages">
      <creationwizard
            id="com.mercatis.lighthouse3.ui.environment.wizards.NewLighthouseProjectWizard">
         <page
               class="com.mercatis.lighthouse3.ui.operations.ui.wizards.pages.WizardNewLighthouseDomainOperationPage"
               description="Provide the URL to which all operation requests are sent."
               ordernumber="4"
               title="Operations">
         </page>
      </creationwizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.mercatis.lighthouse3.ui.operations.ui.properties.pages.OperationPropertyPage"
            id="com.mercatis.lighthouse3.ui.operations.ui.properties.pages.OperationPropertyPage"
            name="Operations">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mercatis.lighthouse3.ui.operations.ui.properties.testers.OperationAvailableTester"
            id="com.mercatis.lighthouse3.ui.operations.ui.properties.testers.operationavailabletester"
            namespace="operations-ui.propertytester"
            properties="operationAvailable"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.mercatis.lighthouse3.ui.operations.ui.EarlyStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.mercatis.lighthouse3.ui.operations.ui.LighthouseOperationsDecorator"
            id="com.mercatis.lighthouse3.operations.ui.decorator"
            label="Lighthouse Operation Decorator"
            lightweight="true">
         <enablement>
         	<objectClass
                     name="com.mercatis.lighthouse3.domainmodel.environment.Deployment">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mercatis.lighthouse3.ui.operations.ui.editors.JobEditor"
            default="false"
            icon="icons/job.png"
            id="com.mercatis.lighthouse3.ui.operations.editors.JobEditor"
            name="Job Editor">
      </editor>
   </extension>
   <extension
         point="com.mercatis.lighthouse3.ui.base.Domainlistener">
      <listener
            class="com.mercatis.lighthouse3.ui.operations.ui.listener.LighthouseDomainListener">
      </listener>
   </extension>

</plugin>
