<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.mercatis.lighthouse3.ui.application.LighthouseApplication"
         name="Lighthouse"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.mercatis.lighthouse3.ui.application.LighthouseApplication">
         </run>
      </application>
   </extension>

</plugin>
